* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:url("../assets/background-image.png");
  background-attachment: fixed;
  background-size: contain;
  height:100%;
  justify-content: center;
  align-items: center;
}

main{height: 100%;}


canvas {
  display: block;
  margin: auto;
  padding: 20px;
}

.navbar {
  background-color: #1c2b48;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #1c2b48;
  width: 100%;
  height: 30px;
  color: white;
  text-align: center;
}

.navbutton {
  color: #1e665d;
}

.navbar ul li {
  background-image: linear-gradient(to right, #47a88e, #47a88e 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.navbar ul li:before {
  content: '';
  background: #ffffff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}

.navbar ul li:hover {
  background-position: 0;
}

.navbar ul li:hover::before {
  width: 100%;
}

.Bestiaire{
  color: white;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
#container{
  margin: 0px auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        width: 100%;
}

.columns{
  width: 100%;
  max-width: 400px;
  padding: 10px;
}

#left-column{
  margin-right: 400px;
}

.towerDiv,.mobDiv{
  width: 100%;
  max-width: 400px;
  background-color: #ccc;
  padding: 10px;
}

.card-mob,.card-tower{
  transition: all 0.3s ease-in-out;
  width: 100%;
  min-height: 250px;
  background-color: #fff;
  margin-bottom: 40px;
  border-radius: 15px;
  padding: 5px;
}

.card-tower{
  background: linear-gradient(to right, #1c2b48,white);
}

.card-mob{
  background: linear-gradient(to left, #1c2b48,white);
}

.card-mob:hover,.card-tower:hover{
  transform: scale(1.05);
}

#last-card{
  margin-bottom: 0px;
}

@media screen and (max-width: 550px) {
  #container{
      flex-direction: column;
  }
  .columns{
      max-width: none;
  }

  #right-column{
      margin-top: 100px;
  }

}

/* login page and register page*/
.formWrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 76px);
  align-items: center;
  max-width: 500px;
  justify-content: center;
  margin: auto;
}

#loginForm {
  position: relative;
  bottom: 10px;
  width: 100%;
  height: fit-content;
  margin: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top,#1c2b48, white );
  border-radius: 25px;
}

#loginSubmit{
    margin-top: 20px;
    width: 100%;
    height: 45px;
}

.registerWrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 76px);
  align-items: center;
  max-width: 500px;
  justify-content: center;
  margin: auto;
}

#registerForm {
  margin: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top,#1c2b48, white );
  border-radius: 25px;
}
#username {
  border-radius: 15px;
}
#password {
  border-radius: 15px;
}
#confirmPassword {
  border-radius: 15px;
}

#titleForm{
    margin-bottom: 20px;
}

#registerSubmit{
    margin-top: 20px;
    width: 100%;
    height: 45px;
}

.card {
  opacity:0.9;
  background:linear-gradient(to bottom, #1c2b48,white) ;
}

.table-responsive-pt-5{
  text-align: center;
  margin-top:25px ;
  opacity: 0.99;
}
.table-table-dark-table-striped{
  margin: auto;
  background: linear-gradient(to  bottom, #1c2b48,rgb(0, 79, 168));
  border-radius: 10px;
  width: 90%;
  color: white;
}


th,td{
  padding: 10px;  
}