body {
    background-color: #1E665D;
    margin:0;
    height:95%
}

canvas {
    display : block;   
    margin : auto;
}

.navbar{
    background-color: #1C2B48;
    margin-bottom:10px;
}

footer {
    height: 25px;
    background-color: #1C2B48;
    color: #FFFFFF;
    text-align: center;
    margin-top:10px;
  }

.navbutton {
    color:#1E665D;
}

.navbar ul li {
    background-image: linear-gradient(
        to right,
        #47A88E,
        #47A88E 50%,
        #FFFFFF 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.navbar ul li:before {
    content: '';
    background: #FFFFFF;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
}

.navbar ul li:hover {
    background-position: 0;
}

.navbar ul li:hover::before {
    width: 100%;
}



