* {
  padding: 0;
  margin: 0;
}

body {
  background-image:url("../assets/background-image.png");
  background-attachment: fixed;
  background-size: contain;
  height:100%;
  justify-content: center;
  align-items: center;
}

main{height: 100%;}


canvas {
  display: block;
  margin: auto;
}

.navbar {
  background-color: #1c2b48;
}

footer {
  position: absolute;
  bottom: auto;
  background-color: #1c2b48;
  width: 100%;
  height: 30px;
  color: white;
  text-align: center;
}

.navbutton {
  color: #1e665d;
}

.navbar ul li {
  background-image: linear-gradient(to right, #47a88e, #47a88e 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.navbar ul li:before {
  content: '';
  background: #ffffff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}

.navbar ul li:hover {
  background-position: 0;
}

.navbar ul li:hover::before {
  width: 100%;
}

.Bestiaire{
  color: white;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.contenue{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 
  "tower1 mid1 mob1"
  "tower2 mid2 mob2"
  "tower3 mid3 mob3" ;
  grid-template-rows: 350px 350px 350px;
  grid-template-columns: 1fr 1fr;
}

.card-tower1,.card-tower2,.card-mob1,.card-mob2,.card-mob3{
  max-width: 540px;
  border-radius:15px ;
  text-align:justify;
  margin: 25px;
  padding: 25px;
  height: 300px;
}

.card-tower1,.card-tower2{
  background:linear-gradient(to right, #1c2b48,white) ;
}
.card-tower1{
  grid-area: tower1;
}
.card-tower1:hover,.card-tower2:hover,.card-mob1:hover,.card-mob2:hover,.card-mob3:hover{
  transition: all 0.5s ease-out; 
  max-width: 1000px;
  width: 100%;
  height: 300px;
}
.card-tower2{
  grid-area: tower2;
}
.card-mob1{
  grid-area: mob1;
}
.card-mob2{
  grid-area: mob2;
  margin-top: 400px;
}
.card-mob3{
  grid-area: mob3;
  margin-top: 800px;
  
}


.card-mob1,.card-mob2,.card-mob3{
  position: absolute;
  right: 25px;
  background:linear-gradient(to left, #1c2b48,white) ;
}


.card-tower1{
  grid-column: 1 / 2;
  grid-row: 1;
}

.card-tower2{
  grid-column: 1 / 2;
  grid-row: 2;
}


.card-mob1{
  grid-column: 3 / 2;
  grid-row: 1;
}
.card-mob2{
  grid-column: 3 / 2;
  grid-row: 2;
}
.card-mob3{
  grid-column: 3 / 2;
  grid-row: 3;

}

.card-title{
  text-align: center;
}

/* login page and register page*/
.formWrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 76px);
  align-items: center;
  max-width: 500px;
  justify-content: center;
  margin: auto;
}

#loginForm {
  position: relative;
  bottom: 10px;
  width: 100%;
  height: fit-content;
  margin: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top,#1c2b48, white );
  opacity : 0.9;
  border-radius: 25px;
}

#loginSubmit{
    margin-top: 20px;
    width: 100%;
    height: 45px;
}

.registerWrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 76px);
  align-items: center;
  max-width: 500px;
  justify-content: center;
  margin: auto;
}

#registerForm {
  margin: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top,#1c2b48, white );
  opacity : 0.9;
  border-radius: 25px;
}
#username {
  border-radius: 15px;
}
#password {
  border-radius: 15px;
}
#confirmPassword {
  border-radius: 15px;
}

#titleForm{
    margin-bottom: 20px;
}

#registerSubmit{
    margin-top: 20px;
    width: 100%;
    height: 45px;
}

.card {
  opacity:0.9;
  background:linear-gradient(to bottom, #1c2b48,white) ;
}

.table-responsive-pt-5{
  text-align: center;
  margin-top:25px ;
  opacity: 0.99;
}
.table-table-dark-table-striped{
  margin: auto;
  background: linear-gradient(to  bottom, #1c2b48,rgb(0, 79, 168));
  border-radius: 10px;
  width: 90%;
  color: white;
}


th,td{
  padding: 10px;  
}